/**
 * Lack of Colours - Personal brand theme for reveal.js
 *
 * By Prae Songprasit, http://praesongprasit.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #A2DDD9;

$mainColor: #29595B;
$headingColor: #0D1D1D;

$mainFontSize: 42px;
$mainFont: 'Asap', -apple-system, BlinkMacSystemFont, sans-serif;
$headingFont: 'Merriweather', -apple-system, BlinkMacSystemFont, serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #6F4E37;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
	h1, h2, h3, h4 {
		text-transform: none;
	}

	h1 {
		color: $headingColor;
	}
	
	// em,
	// bold,
	// strong {
	// 	color: $headingColor;
	// }

	bold,
	strong {
		font-weight: 600;
	}

	.stretch img {
		max-height: 80%;
	}

	.img-mask--round {
		display: block;
		border: 6px solid #fff;
		width: 50%;
		max-width: 300px;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		border-radius: 50%;

		img {
			padding: 0;
			margin: 0;
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}

	.nested-list {
		list-style: inside;
		margin-top: .5em;
		font-size: .85em;
	}
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}